header {
    nav {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        .logo {
            h1 {
                color: white;
            }
        }

        .menu {
            display: flex;
            justify-content: space-between;
            width: 40%;
            list-style: none;

            li {
                color: white;
            }
        }
    }
}